[Unit]
Description=IPv6 TunnelBroker
Before=docker.service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
{%if tunnelbroker_defaultgw == true %}
ExecStartPre=/usr/bin/bash -c "/usr/sbin/ip -6 ro del default | true"
{% endif %}
ExecStart=/usr/sbin/ifup {{ tunnelbroker_interface }}
ExecStop=/usr/sbin/ifdown {{ tunnelbroker_interface }}

[Install]
WantedBy=multi-user.target
